<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Hjem – Smart Health Monitor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/tooplate-style.css">
</head>

<body>

    <div class="container mt-5">
        <h1>Patientoversigt</h1>
        <p style="color: black;">Her kan du se alt</p>

        <a href="index.html">Tilbage til hovedmenu</a>
    </div>

</body>
</html>