<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-style.css') }}">
</head>

<body>

    <div class="container mt-5">
        <h1>Dashboard</h1>
        <p style="color: black;">Her kan dashboard ses.</p>

        <a href="index.html">Tilbage til hovedmenu</a>
    </div>

</body>
</html>
